a{
	color: #cd2122;
	text-decoration: none;
}
a:hover,a:focus{
	text-decoration:none;
	color: #0FA0CE;
}
body {
	background:#fff;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.form-control{
	background:#fff;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	color: #000;
	box-shadow: none;
	height:50px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-red{
	display: inline-block;
	height: 40px;
	padding: 0 30px;
	color: #FFF;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: #83a10b;
	border-color: #83a10b;
	border-radius: 4px;
	border: 3px solid #5e7308;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.btn-red:hover,.btn-red:focus{
	color: #FFF;
	background-color: #5e7308;
	border-color: #5e7308;
	outline: none;
}
.btn-black {
	display: inline-block;
    height: 40px;
    padding: 0 30px;
    color: #000;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background: #ffd066;
    background: -moz-linear-gradient(top, #ffd066 0%, #fdcb4a 46%, #febe36 100%);
    background: -webkit-linear-gradient(top, #ffd066 0%,#fdcb4a 46%,#febe36 100%);
    background: linear-gradient(to bottom, #ffd066 0%,#fdcb4a 46%,#febe36 100%);
    border-radius: 4px;
    border: 3px solid #cab691;
    cursor: pointer;
    box-sizing: border-box;
}
.btn-black:hover,.btn-black:focus{
	color: #000;
	background: -moz-linear-gradient(top, #febe36 0%, #fdcb4a 46%, #ffd066 100%);
    background: -webkit-linear-gradient(top, #febe36 0%,#fdcb4a 46%,#ffd066 100%);
	background: linear-gradient(to bottom, #febe36 0%,#fdcb4a 46%,#ffd066 100%);
	outline:none;
}
.heading h2 {
    color: #222222;
    font-size: 28px;
    margin: 0px;
    margin-bottom: 0px;
    margin-bottom: 40px;
	border-bottom:1px solid #e5e5e5;
	position: relative;
	padding-bottom:20px;
}
.heading h2::before {
    height: 2px;
    background: #83a10b;
    content: "";
    position: absolute;
    bottom: -1px;
    width: 90px;
    left: 0px;
}
.heading h2 span{
	font-weight:700;
}

/*==============
 	Checkbox
================*/

.custom-checkbox{
	display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #83a10b;
    text-transform: uppercase;
    font-weight: 700;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    border: 2px solid #868785;
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
}
.custom-checkbox:after {
    position: absolute;
	display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
    content: "✔";
    color: #83a10b;
    font-size: 25px;
	line-height: 30px;
	display: none;
}

/*==============
	Header
================*/

.main-header {
	position: fixed;
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	z-index: 9;
	top:0;
	min-height:98px;
}
.main-header h1 {
    margin: 0;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 26px;
    padding-bottom: 26px;
}
.main-header h1 a{
	color:#333;
}
.cart-content{
	padding:30px 0;
	color: #666;
}
.showCart a {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.showCart a > img {
    max-width: 40px;
    vertical-align: -8px;
}
.dropdown-menu.cart-content-dropdown {
	width: 400px;
    right: 0;
    left: auto!important;
	padding: 15px 15px;
	margin-top:42px;
	border: 1px solid #e6e6e6;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.cart-items > div{
	border-bottom:1px solid #e1e1e1;
	padding-bottom:15px;
	padding-top:15px;
}
.cart-items > div:last-of-type{
	border-bottom:0;
	padding-bottom:0;
}
.cart-items h3{
	font-size: 14px;
    color: #000;
    min-height: 40px;
    margin-top: 0;
    line-height: 1.5;
}
/*==============
	Content
================*/

.page-content{
	padding-bottom:40px;
	padding-top:65px;
}
.item{
	border: 1px solid #d6d6d6;
	padding: 10px;
	background: #fff;
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: -1px;
}
.item h2{
	font-size: 16px;
	color:#206dbb;
	min-height:40px;
	margin-top:15px;
	line-height:1.5;
}
.item h4{
	font-size:14px;
	color:#000;
	font-weight:700;
}
.item p {
    color: #888888;
    font-size: 14px;
    line-height: 1.4;
    word-break: break-all;
}
.item .item-price {
    font-size: 26px;
    font-weight: 700;
    color: #ba030e;
}
.item .item-price span {
    font-size: 14px;
    vertical-align: 10px;
}
span.new-badge {
    color: #f1c209;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px dotted #333;
    border-top: 1px dotted #333;
    padding-bottom: unset;
    margin-top: 10px;
}
ul.item-features li {
    line-height: 1.5;
    font-size: 14px;
}
ul.item-features li img {
	vertical-align: -5px;
}
ul.item-rating{
	margin-top:-10px;
}
ul.item-rating .list-inline-item:not(:last-child){
	font-size: 12px;
    color: #f28a35;
    margin-right: 0px;
}
ul.item-rating .list-inline-item:last-child{
	font-size: 12px;
	color: #1b6eb6;
	margin-left:10px;
}
.product-total {
    background: #7d7d7d;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 300;
    padding: 20px 50px;
}
.item-add span {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #fff;
    line-height: 29px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 4px;
}
.item-add {
    position: relative;
    padding-left: 60px;
}
.item-add:after {
    content: "";
    position: absolute;
    left: 40px;
    width: 1px;
    height: 100%;
    background: #ca8900;
}
.item-add span.button-cart-icon{
	background:#000;
}
.item-add span.button-added-icon{
	background:#2f7c00;
	display: none;
}
.item-add.already-added .button-cart-icon{
	display:none;
}
.item-add.already-added .button-added-icon{
	display:block;
}
.old-price{
	font-size:14px;
}
.old-price {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
}
/*==============
	Cart Page
================*/
.breadcrumb-container{
	height:300px;
	background: -webkit-linear-gradient(left, #688009 0%,#83a10b 100%);
	background: linear-gradient(to right, #688009 0%,#83a10b 100%);
}
.breadcrumb-container h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding-top: 125px;
}
.breadcrumb-container p{
	text-transform: uppercase;
	color:#fff;
}
.shopping-cart .table > thead > tr > th {
    border: none;
    border: 1px solid #e8e8e8 !important;
    background: #fafafa;
    padding: 15px 30px;
    font-size: 16px;
}
.shopping-cart .table  tr > td {
    border: 1px solid #e8e8e8;
	padding: 30px;
	background:#fff;
}
.shopping-cart .table tr > td:first-of-type{
	max-width:100px;
	text-align: center;
}
.shopping-cart .table  tr > td h3{
	font-size: 14px;
    color: #000;
    min-height: 40px;
    margin-top: 0;
    line-height: 1.5;
}
.shopping-cart .table tr > td > img {
    display: inline-block;
    width: 84px;
    height: 84px;
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #eeeeee;
}
.shopping-cart .table  tr > td.item-price,.shopping-cart .table  tr > td.total{
	font-weight:700;
	color:#000;
}
.shopping-cart .table  tr > td.total{
	font-size:18px;
}
.shopping-cart .table tfoot tr > td{
	padding: 15px 30px;
}
/*==============
	Footer
================*/


footer {
	background-color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    line-height: 1;
    margin-top: 20px;
    padding: 40px 0;
    border-top: 1px solid #eee;
    text-align: center;
    color: #999;
}

@media (max-width:767px) {
	.main-header h1 {
		font-size: 20px;
	}
}
@media (max-width:640px) {
	.wrapper{
		padding-top: 0;
	}
	.main-header{
		position: relative;
		height:auto;
		min-height:inherit;
	}
	.main-header .row > div{
		text-align: center!important;
	}
	.cart-content {
		padding: 15px 0 30px;
	}
	.cart-content .dropdown{
		position: static;
	}
	.dropdown-menu.cart-content-dropdown{
		width:100%;
		left:0!important;
		right:auto;
	}
	.checkout-buttons a {
		display: block;
		width: 100%;
		margin: 10px 0!important;
	}
}